{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}About Circuit Cheddar{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<div style="margin-inline: 10%;">

    <h1>Project Based Learning</h1>
    <br>
    <p>Circuit cheddar aims to be a place where the projects are meant to teach electronics to the curious.</p>
    <p>Many sites have bloat projects that contain little useful information to those trying to learn.</p>
    <p>Other contain unfinished projects or incorrect information.</p>
    <br>
    <h2>Solution</h2>
    <br>
    <p>Every project is curated by our team.</p>
    <p>Information within the projects link back to articles for a deeper understanding.</p>
    <p>Parts list, and alternatives will begin every project</p>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}