{% extends 'base.html' %}

{% block header %}

<h1>ADMIN DASHBOARD</h1>
<br>
<hr>
<hr>
<br>

{% endblock %}

{% block content %}
<div class="user_list">
    <h2>user list</h2>
    <table class = "common_table">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
                <form method="post" action="{{ url_for('app/admin.set_user_role', user_id=user['id']) }}">
                    <select name="role" class="selection_options">
                        <option value="{{ user.role }}">{{ user.role }} (current)</option>
                        {% for r in ['USER','ADMIN','CONTRIBUTOR','EDITOR'] %}
                            {% if r != user.role %}
                                <option value="{{ r }}">{{ r }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Save</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}